# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Local R3P Data
r3p_server.txt
backend/r3p.db



# VS Code / IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
